version: "3.9"

services:
  backend:
    build: .
    container_name: todo-backend
    ports:
      - "3000:3000"
    environment:
      JWT_SECRET: supersecretkey123
      MONGO_URI: mongodb://mongo:27017/todoapp
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: todo-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
